@import '../abstract/variables';

section.container.home {
    display: flex;
    align-items: center;
    color: #fff;
    .img-card {
        max-width: 600px;
        margin: 0 25px 0 0;
        img {
            max-width: 550px;
            border-radius: 20px;
        }
    }
    .home-text-description {
        margin: 25px;
        h2 {
            font-size: 60px!important;
        }
        .typewriter {
            overflow: hidden; /* Para criar o efeito de digitação */
            border-right: .15em solid orange; /* Simula o cursor de digitação */
            white-space: nowrap; /* Impede que o texto quebre em várias linhas */
            margin: 0 auto; /* Centraliza o texto */
            letter-spacing: .15em; /* Espaçamento entre letras */
            animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
            font-size: 12px;
            max-height: 40px;
        }
        
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        
        @keyframes blink-caret {
            from,
            to {
                border-color: transparent;
            }
            50% {
                border-color: orange;
            }
        }
    }
}
